@font-face {
  font-family: Flutterwave;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/flutterwave/Flw-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Flutterwave;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/flutterwave/Flw-Italic.ttf') format('truetype');
}
@font-face {
  font-family: Flutterwave;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/flutterwave/Flw-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: Flutterwave;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/flutterwave/Flw-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/flutterwave/SF-Pro-Display-Medium.ttf') format('truetype');
}
