<template>
  <div>
    <transition name="fade">
      <div v-if="showCartBackdrop" id="cart_management" class="cart_management">
        <transition name="fade-slide-left" mode="out-in">
          <aside v-if="getTickets(pricingData).length > 0" id="aside">
            <transition name="fade-slide-left-animate" mode="out-in">
              <OrderSummary v-if="order" :event="event" :pricing-data="pricingData" @changeOrderState="changeOrderState" @goBack="hide" />
              <MakePayment v-else :event="event" :pricing-data="pricingData" @changeOrderState="changeOrderState" />
            </transition>
          </aside>
        </transition>
        <transition name="fade-slide-down">
          <div v-if="getTickets(pricingData).length > 0" class="button--checkout">
            <button class="button--large button--block text-uppercase" @click="showSidebar">View Tickets - {{ numberOfTickets(pricingData) }}</button>
          </div>
        </transition>
        <div class="container p-b-70">
          <div class="row no-gutters">
            <div class="col-12">
              <button class="cart_management__close" @click="hide">
                <img src="@/assets/svgs/icons/close.svg" svg-inline />
                Close
              </button>
            </div>

            <transition name="fade-slide-down">
              <div v-if="showCart" class="col-12 col-md-8 m-t-60">
                <h1 class="font-size-36 line-height-46 m-b-3">{{ event.name }}</h1>
                <time class="font-open-sans text-uppercase font-size-18 text-dark2">{{ event.start_time | date }}</time>
                <div class="cart_management__pricing">
                  <PriceList v-for="pricing in pricingData" :key="pricing.id" :pricing="pricing" @increaseQty="$emit('increaseQty', pricing.id)" @decreaseQty="$emit('decreaseQty', pricing.id)" />
                </div>
                <p class="m-t-14 font-size-14 line-height-28 text-grey">Ticket sales ends on {{ event.tickets_sale_end_date | date }}</p>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    event: {
      required: true,
      type: Object
    },
    pricingData: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      showCartBackdrop: false,
      showCart: true,
      order: true
    }
  },
  watch: {
    pricingData(val) {
      if (this.getTickets(this.pricingData).length === 0) {
        this.order = true
      }
    }
  },
  beforeDestroy() {
    document.body.style.position = ''
    document.body.style.top = ''
  },
  methods: {
    async show() {
      document.body.style.position = 'fixed'
      document.body.style.top = `-${window.scrollY}px`
      this.showCartBackdrop = true
      await this.sleep(400)
      this.showCart = true
    },
    async hide() {
      document.body.style.position = ''
      document.body.style.top = ''
      this.showCart = false
      await this.sleep(400)
      this.showCartBackdrop = false
      this.$emit('clearCart')
    },
    changeOrderState(val) {
      this.order = val
    },
    async showSidebar() {
      const aside = document.getElementById('aside')
      const cartManagement = document.getElementById('cart_management')
      aside.style.display = 'block'
      await this.sleep(200)
      cartManagement.style.overflowY = 'hidden'
      aside.style.opacity = 1
    }
  }
}
</script>
