<template>
  <div>
    <transition name="fade">
      <div v-if="showBackDrop" class="modal">
        <transition name="fade-slide-up">
          <div v-if="showModal" v-on-clickaway="hide" class="modal__content">
            <header>
              <h2>REGISTER FOR FREE</h2>
              <img src="@/assets/svgs/icons/close.svg" svg-inline @click="hide" />
            </header>
            <transition name="fade-slide-left" mode="out-in">
              <form v-if="!successful" action="#" class="m-t-30" @submit.prevent="register">
                <div class="input-wrapper">
                  <label for="fullname">Full name</label>
                  <input id="fullname" v-model="form.name" type="text" name="fullname" :class="$v.form.name.$invalid && $v.form.name.$dirty ? 'error' : ''" />
                  <span v-if="$v.form.name.$invalid && $v.form.name.$dirty" class="error">The name is required</span>
                </div>
                <div class="input-wrapper">
                  <label for="email">Email Address</label>
                  <input id="email" v-model="form.email" type="email" name="email" :class="$v.form.email.$invalid && $v.form.email.$dirty ? 'error' : ''" />
                  <span v-if="$v.form.email.$invalid && $v.form.email.$dirty" class="error">The email is invalid</span>
                </div>
                <div class="input-wrapper">
                  <label for="phone">Phone Number</label>
                  <input id="phone" v-model="form.phone" type="tel" name="phone" :class="$v.form.phone.$invalid && $v.form.phone.$dirty ? 'error' : ''" />
                  <span v-if="$v.form.phone.$invalid && $v.form.phone.$dirty" class="error">The phone number is required</span>
                </div>
                <div class="input-wrapper">
                  <button :disabled="$v.form.$invalid || loading" class="button--block button--large">{{ loading ? 'LOADING...' : `REGISTER` }}</button>
                </div>
              </form>
              <Success v-else :event="event" />
            </transition>
          </div>
        </transition>
      </div>
    </transition>
  </div>
</template>

<script>
import {mixin as clickaway} from 'vue-clickaway'
import {required, minLength, email} from 'vuelidate/lib/validators'

export default {
  mixins: [clickaway],
  props: {
    event: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      showBackDrop: false,
      showModal: false,
      loading: false,
      successful: false,
      form: {
        email: '',
        phone: '',
        name: ''
      }
    }
  },
  validations: {
    form: {
      name: {
        required
      },
      phone: {
        required,
        minLength: minLength(11)
      },
      email: {
        email,
        required
      }
    }
  },

  beforeDestroy() {
    document.body.style.position = ''
    document.body.style.top = ''
  },
  methods: {
    async show() {
      document.body.style.position = 'fixed'
      document.body.style.top = `-${window.scrollY}px`
      this.showBackDrop = true
      await this.sleep(200)
      this.showModal = true
    },
    async hide() {
      document.body.style.position = ''
      document.body.style.top = ''
      this.showModal = false
      await this.sleep(200)
      this.showBackDrop = false
      this.reset()
    },
    reset() {
      this.successful = false
      this.form.name = ''
      this.form.email = ''
      this.form.phone = ''
    },
    async register() {
      try {
        this.loading = true
        await this.$axios.post(`events/${this.event.id}/register`, this.form)
        this.loading = false
        this.successful = true
      } catch (error) {
        this.loading = false
      }
    }
  }
}
</script>
