<template>
  <div class="order-summary">
    <header>
      <a href="#" @click.prevent="goBack">
        <img src="@/assets/svgs/icons/arrow-left.svg" svg-inline />
        Go back
      </a>
    </header>
    <transition name="fade-slide-left" mode="out-in">
      <form v-if="!successful" action="#" class="m-t-30" @submit.prevent="makePayment">
        <div class="input-wrapper">
          <label for="fullname">Full name</label>
          <input id="fullname" v-model="form.name" type="text" name="fullname" :class="$v.form.name.$invalid && $v.form.name.$dirty ? 'error' : ''" />
          <span v-if="$v.form.name.$invalid && $v.form.name.$dirty" class="error">The name is required</span>
        </div>
        <div class="input-wrapper">
          <label for="email">Email Address</label>
          <input id="email" v-model="form.email" type="email" name="email" :class="$v.form.email.$invalid && $v.form.email.$dirty ? 'error' : ''" />
          <span v-if="$v.form.email.$invalid && $v.form.email.$dirty" class="error">The email is invalid</span>
        </div>
        <div class="input-wrapper">
          <label for="phone">Phone Number</label>
          <input id="phone" v-model="form.phone" type="tel" name="phone" :class="$v.form.phone.$invalid && $v.form.phone.$dirty ? 'error' : ''" />
          <span v-if="$v.form.phone.$invalid && $v.form.phone.$dirty" class="error">The phone number is required</span>
        </div>
        <div class="d-flex justify-content-space-between align-items-center m-b-30 m-t-30">
          <p class="font-size-14 font-weight-600">Total Payment</p>
          <p class="font-size-24 font-weight-600">{{ getTotal(pricingData) | formatAmount }}</p>
        </div>
        <div class="input-wrapper">
          <button :disabled="$v.form.$invalid || loading" class="button--block button--large">{{ loading ? 'LOADING...' : `PAY ${formatAmount(getTotal(pricingData))}` }}</button>
        </div>
        <div class="m-t-25 d-flex align-items-center">
          <img src="@/assets/svgs/icons/protection.svg" svg-inline />
          <div class="m-l-10">
            <p class="font-size-14 font-weight-600">100% customer protection</p>
            <p class="text-grey font-size-13">Money back guarantee</p>
          </div>
        </div>
      </form>
      <Success v-else :event="event" />
    </transition>
  </div>
</template>

<script>
/* eslint-disable no-undef */
import {required, minLength, email} from 'vuelidate/lib/validators'

export default {
  props: {
    event: {
      required: true,
      type: Object
    },
    pricingData: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      loading: false,
      successful: false,
      form: {
        email: '',
        phone: '',
        name: ''
      }
    }
  },
  validations: {
    form: {
      name: {
        required
      },
      phone: {
        required,
        minLength: minLength(11)
      },
      email: {
        email,
        required
      }
    }
  },
  methods: {
    makePayment() {
      if (!this.$v.form.invalid) {
        const amount = this.getTotal(this.pricingData)
        const {name, phone, email} = this.form
        const self = this
        // eslint-disable-line
        FlutterwaveCheckout({
          public_key: 'FLWPUBK_TEST-SANDBOXDEMOKEY-X',
          tx_ref: `${Date.now()}`,
          amount,
          currency: 'NGN',
          payment_options: 'card',
          customer: {
            email,
            phone_number: phone,
            name
          },
          callback: ({status}) => {
            if (status === 'successful') {
              self.placeOrder()
            }
          }
        })
      }
    },

    reset() {
      this.successful = false
      this.form.name = ''
      this.form.email = ''
      this.form.phone = ''
    },
    goBack() {
      this.successful ? this.$emit('goBack') : this.$emit('changeOrderState', true)
      this.reset()
    },
    async placeOrder() {
      try {
        this.loading = true
        await this.$axios.post(`orders`, {
          event_id: this.event.id,
          ...this.form,
          base_amount: this.getSubtotal(this.pricingData),
          value_added_tax: this.getVAT(this.pricingData),
          tickets_bought: this.tickets(this.pricingData)
        })
        this.loading = false
        this.successful = true
      } catch (error) {
        this.loading = false
      }
    }
  }
}
</script>
