<template>
  <div class="order-summary">
    <header>
      <h2>Order summary</h2>
      <img class="d-md-none d-flex" src="@/assets/svgs/icons/close.svg" svg-inline @click="hide" />
    </header>
    <main class="p-t-34">
      <div v-for="ticket in getTickets(pricingData)" :key="ticket.id" class="d-flex justify-content-space-between align-items-center m-b-24">
        <p class="font-size-14 font-weight-600">{{ ticket.qty }} - {{ ticket.name }}</p>
        <p class="font-size-14 text-dark2">{{ (ticket.price * ticket.qty) | formatAmount }}</p>
      </div>
    </main>
    <div class="m-t-34">
      <div class="d-flex justify-content-space-between align-items-center m-b-24">
        <p class="font-size-14 font-weight-600">Sub-total</p>
        <p class="font-size-14 text-dark2">{{ getSubtotal(pricingData) | formatAmount }}</p>
      </div>
      <div class="d-flex justify-content-space-between align-items-center m-b-24">
        <p class="font-size-14 font-weight-600">VAT</p>
        <p class="font-size-14 text-dark2">{{ getVAT(pricingData) | formatAmount }}</p>
      </div>
      <div class="d-flex justify-content-space-between align-items-center m-b-24">
        <p class="font-size-14 font-weight-600">Total Payment</p>
        <p class="font-size-24 font-weight-600">{{ getTotal(pricingData) | formatAmount }}</p>
      </div>
    </div>
    <div>
      <button class="button--block button--large" @click="$emit('changeOrderState', false)">CONTINUE</button>
    </div>
    <div class="m-t-25 d-flex align-items-center">
      <img src="@/assets/svgs/icons/protection.svg" svg-inline />
      <div class="m-l-10">
        <p class="font-size-14 font-weight-600">100% customer protection</p>
        <p class="text-grey font-size-13">Money back guarantee</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    event: {
      required: true,
      type: Object
    },
    pricingData: {
      required: true,
      type: Array
    }
  },
  methods: {
    async hide() {
      const aside = document.getElementById('aside')
      const cartManagement = document.getElementById('cart_management')
      aside.style.opacity = 0
      await this.sleep(200)
      cartManagement.style.overflowY = 'scroll'
      aside.style.display = 'none'
    }
  }
}
</script>
