<template>
  <div class="pricelist row no-gutters">
    <div class="col-9 col-md-8">
      <div class="row">
        <div class="col-12 col-md-6">
          <h4 class="pricelist__title">{{ pricing.name }}</h4>
        </div>
        <div class="col-12 col-md-6">
          <p class="pricelist__pricing">{{ pricing.price | formatAmount }}</p>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-4 d-flex justify-content-end">
      <div class="pricelist__controls">
        <button :disabled="pricing.qty <= 0" @click="$emit('decreaseQty')">
          <img src="@/assets/svgs/icons/minus.svg" svg-inline />
        </button>
        <span>{{ pricing.qty }}</span>
        <button :disabled="pricing.qty >= pricing.qty_available" @click="$emit('increaseQty')">
          <img src="@/assets/svgs/icons/plus.svg" svg-inline />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pricing: {
      type: Object,
      required: true
    }
  }
}
</script>
