<template>
  <div class="m-t-90">
    <div class="d-flex justify-content-center align-items-center">
      <img src="@/assets/svgs/icons/success.svg" svg-inline />
    </div>
    <p class="font-size-18 text-center line-height-22 m-t-60">You have successfully registered for {{ event.name.toLowerCase() }}.</p>
  </div>
</template>

<script>
export default {
  props: {
    event: {
      required: true,
      type: Object
    }
  }
}
</script>
