.fade-slide-up- {
  &enter {
    transform: translateY(-10px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s ease-out;
  }

  &leave-to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.fade-slide-down- {
  &enter {
    transform: translateY(20px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.fade-slide-left-animate- {
  &enter {
    transform: translateX(20px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &leave-to {
    opacity: 0;
    transform: translateX(20px);
  }
}
.fade-slide-left- {
  &enter {
    transform: translateX(20px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &leave-to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.fade- {
  &enter {
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s ease-out;
  }

  &leave-to {
    opacity: 0;
  }
}
