@mixin col-factory($thisPrefix) {
  @for $i from 1 through $columns {
    .col-#{$thisPrefix}-#{$i} {
      flex: 0 0 100% / $columns * $i;
      max-width: 100% / $columns * $i;
      padding: 0 $gutter;
    }
    .col-#{$thisPrefix}-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

@mixin media-breakpoint-up($size) {
  @if $size== 'sm' {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $size== 'md' {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $size== 'lg' {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size== 'xl' {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($size) {
  @if $size== 'xs' {
    @media (max-width: 575.98px) {
      @content;
    }
  }
  @if $size== 'sm' {
    @media (max-width: 767.98px) {
      @content;
    }
  }
  @if $size== 'md' {
    @media (max-width: 991.98px) {
      @content;
    }
  }
  @if $size== 'lg' {
    @media (max-width: 1199.98px) {
      @content;
    }
  }
}
