<template>
  <nuxt-link :to="`/events/${event.id}`" class="eventcard" style="opacity: 0;">
    <div class="eventcard__image">
      <img :src="event.image ? event.image : require(`@/assets/imgs/eventimage.jpg`)" :alt="event.name" />
    </div>
    <time class="eventcard__date m-t-20 font-san-francisco">{{ event.start_time | date }}</time>
    <h2 class="eventcard__title m-t-5">{{ event.name }}</h2>
    <p v-if="event.is_sold_out" class="text-red">Sold Out</p>
    <p v-else-if="event.is_free || event.pricing.length === 0" class="text-green">Free</p>
    <p v-else-if="event.pricing.length == 1" class="eventcard__price m-t-5">{{ minimumPrice | formatAmount }}</p>
    <p v-else-if="event.pricing.length > 1" class="eventcard__price m-t-5">{{ minimumPrice | formatAmount }} – {{ maximumPrice | formatAmount }}</p>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    event: {
      required: true,
      type: Object
    }
  },
  computed: {
    minimumPrice() {
      return this.event.pricing[0].price
    },
    maximumPrice() {
      return this.event.pricing[this.event.pricing.length - 1].price
    }
  }
}
</script>
