@import './grid/variable';
@import './grid/mixins';

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 pxToRem(24);
}

.container-large {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 pxToRem(24);
}

.container-small {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 pxToRem(24);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 pxToRem(24);
}

// (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

.row {
  display: flex;
  flex-wrap: wrap;
  &.justify-content-center {
    justify-content: center;
  }
  &.align-items-center {
    justify-content: center;
  }

  [class^='col-'] {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 100% / $columns * $i;
      max-width: 100% / $columns * $i;
      padding: 0 $gutter;
    }
    .col-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
  @include media-breakpoint-up(sm) {
    @include col-factory(sm);
  }
  @include media-breakpoint-up(md) {
    @include col-factory(md);
  }
  @include media-breakpoint-up(lg) {
    @include col-factory(lg);
  }
  @include media-breakpoint-up(xl) {
    @include col-factory(xl);
  }
  &.no-gutters {
    [class^='col-'] {
      padding: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    &.no-gutters-xs {
      [class^='col-'] {
        padding: 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &.no-gutters-sm {
      [class^='col-'] {
        padding: 0;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &.no-gutters-md {
      [class^='col-'] {
        padding: 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &.no-gutters-lg {
      [class^='col-'] {
        padding: 0;
      }
    }
  }
}
