* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: $background-color;
  color: $dark;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: $dark;
  text-decoration: none;
  // font-weight: 600;
  font-size: pxToRem(14);
  transition: all 0.4s;
  &.has-icon {
    img,
    svg {
      transition: all 0.5s;
    }
    &:hover {
      img,
      svg {
        transform: translateX(-3px);
      }
    }
  }
  &:hover {
    color: $yellow;
  }
}
