$sides: (top, bottom, left, right);

@for $space from 0 through 120 {
  .p-#{$space} {
    padding: pxToRem($space);
  }
  .m-#{$space} {
    margin: pxToRem($space);
  }
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: pxToRem($space) !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: pxToRem($space) !important;
    }
  }
}

@mixin spacer-factory($thisPrefix, $space) {
  .p-#{$thisPrefix}-#{$space} {
    padding: pxToRem($space);
  }
  .m-#{$thisPrefix}-#{$space} {
    margin: pxToRem($space);
  }
  @each $side in $sides {
    .m-#{$thisPrefix}-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: pxToRem($space) !important;
    }

    .p-#{$thisPrefix}-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: pxToRem($space) !important;
    }
  }
}

@for $space from 0 through 120 {
  @include media-breakpoint-up(sm) {
    @include spacer-factory(sm, $space);
  }
  @include media-breakpoint-up(md) {
    @include spacer-factory(md, $space);
  }
  @include media-breakpoint-up(lg) {
    @include spacer-factory(lg, $space);
  }
  @include media-breakpoint-up(xl) {
    @include spacer-factory(xl, $space);
  }
}
