button,
.button {
  background-color: $yellow;
  border-radius: pxToRem(4);
  box-shadow: 0px 1px 1px rgba(black, 0.5);
  font-size: pxToRem(12);
  height: 35px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  padding-left: pxToRem(22);
  padding-right: pxToRem(22);
  color: white !important;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  svg {
    outline: 0;
  }
  &:hover {
    box-shadow: 0 0 0;
    transform: translateY(3px);
  }
  &--block {
    display: flex;
    width: 100%;
  }
  &--large {
    height: 50px;
    font-size: pxToRem(14);
  }
  &.disbaled,
  &:disabled {
    box-shadow: unset;
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
      box-shadow: 0 0 0;
      transform: translateY(0);
    }
  }
}
