.cart_management {
  position: fixed !important;
  z-index: 100;
  background: #f2f2f2;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: pxToRem(50);
  padding-bottom: pxToRem(50);
  overflow-y: scroll;
  @include media-breakpoint-down(md) {
    padding-top: pxToRem(25);
    padding-bottom: pxToRem(25);
  }
  position: relative;
  .button--checkout {
    position: fixed;
    display: none;
    left: 24px;
    right: 24px;
    bottom: 24px;
    z-index: 20;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  aside {
    background: #ffffff;
    position: absolute !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    max-width: 470px;
    min-height: 100vh;
    z-index: 80;
    padding: pxToRem(50);
    border-radius: 10px 0 0 10px;
    transition: all 0.5s;
    overflow-y: scroll;
    @include media-breakpoint-down(md) {
      position: fixed !important;
      top: 0;
      bottom: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 0;
      padding: pxToRem(25);
      display: none;
      opacity: 0;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bdbdbd;
      padding-bottom: 30px;
      a {
        font-size: pxToRem(18);
        display: flex;
        align-items: center;
        svg,
        img {
          margin-right: 7px;
          transition: all 0.5s;
        }
        &:hover {
          svg {
            transform: translateX(-5px);
            path {
              stroke: $yellow;
            }
          }
        }
      }
      h2 {
        font-size: pxToRem(18);
        letter-spacing: 0.065em;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    main {
      min-height: 260px;
      border-bottom: 1px solid #bdbdbd;
    }
  }
  &__close {
    background: #ffffff;
    border-radius: 25px;
    height: 50px;
    color: $dark !important;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: pxToRem(18);
    font-size: pxToRem(18);
    font-family: 'SF-Pro-Display', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }
  &__pricing {
    margin-top: pxToRem(80);
  }
  .pricelist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: pxToRem(25);
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: pxToRem(20);
    &__title {
      font-size: pxToRem(24);
      font-weight: normal;
    }
    &__pricing {
      font-size: pxToRem(24);
      font-weight: 600;
    }
    &__controls {
      display: flex;
      align-items: center;
      button {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
      }
      span {
        font-size: pxToRem(24);
        line-height: pxToRem(28);
        margin: 0 pxToRem(16);
      }
    }
  }
}
