.eventcard {
  display: block;
  margin-bottom: pxToRem(34);
  &:hover {
    .eventcard__image {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.306764);
      transform: translateY(-6px);
    }
    img {
      transform: scale(1.04);
    }
  }
  img {
    width: 100%;
    border-radius: pxToRem(6);
    object-fit: cover;
    height: 230px;
    display: block;
    transition: all 0.5s ease-in-out;
  }

  &__image {
    width: 100%;
    border-radius: pxToRem(6);
    height: 230px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  &__date {
    font-size: pxToRem(12);
    line-height: pxToRem(14);
    text-transform: uppercase;
    color: $dark2;
    display: block;
  }
  &__title {
    font-size: pxToRem(18);
    font-weight: 600;
    color: $dark;
  }
  &__price {
    font-size: pxToRem(14);
    color: $dark2;
  }
}
