footer {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: pxToRem(40);
  padding: 0 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin-top: pxToRem(140);
  }
}
