.input-wrapper {
  margin-bottom: pxToRem(30);
  label {
    font-weight: 500;
    font-size: pxToRem(16);
    line-height: pxToRem(22);
    color: $dark;
    display: flex;
    margin-bottom: pxToRem(14);
  }
  .error {
    font-size: pxToRem(12);
    color: $red;
    display: block;
    margin-top: pxToRem(5);
  }
  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='date'],
  input[type='search'],
  textarea {
    height: 50px;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($color: $dark, $alpha: 0.1);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba($color: $dark, $alpha: 0.1);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba($color: $dark, $alpha: 0.1);
    }
    display: flex;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: border-color 300ms ease-in, border-width 300ms ease-in, color 1s linear;
    width: 100%;
    display: block;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    color: $dark;
    border: 1px solid #dbdae2;

    font-size: 0.95rem;

    @include media-breakpoint-down(sm) {
      font-size: pxToRem(16);
    }
    padding: pxToRem(15);
    //margin-bottom: 18px;
    resize: none;

    &:disabled {
      opacity: 0.6;
    }

    &.error {
      border-color: $red !important;
    }

    &:focus {
      border-color: rgba($yellow, 1);
      outline: none;
      color: $dark;
      transition: all 300ms ease-in;

      &::-webkit-input-placeholder {
        opacity: 0;
      }
    }
    &::-webkit-input-placeholder {
      font-size: 0.95rem;
      color: rgba($dark, 0.62);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
