.modal {
  background: rgba(51, 51, 51, 0.45);
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  &__content {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: pxToRem(50);
    width: 100%;
    max-width: 470px;
    @include media-breakpoint-down(md) {
      height: 100%;
      border-radius: 0;
      padding: pxToRem(25);
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bdbdbd;
      padding-bottom: 30px;
      h2 {
        font-size: pxToRem(18);
        letter-spacing: 0.065em;
        text-transform: uppercase;
      }
      svg {
        cursor: pointer;
      }
    }
  }
}
