#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: pxToRem(24);
  padding-bottom: pxToRem(14);
  transition: all 0.5s ease-in-out;
  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    left: 0;
    // right: 0;
    width: 100vw;
    z-index: 15;
    &.white {
      background-color: white;
    }
  }
  .logo {
    position: relative;
    z-index: 10;
    svg {
      outline: 0;
    }
  }
  nav {
    &.open {
      ul {
        transform: translateY(0);
        li {
          a {
            transform: translateY(0);
            opacity: 1;
            transition-delay: 0.7s;
          }
          &:not(:last-child) {
            a {
              transition-delay: 0.5s;
            }
          }
        }
      }
      + #menu-icon {
        span {
          &:first-child {
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          &:last-child {
            transform: rotate(45deg) translate(0px, 4px);
          }
        }
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-right: pxToRem(40);
        }
      }
      @include media-breakpoint-down(md) {
        position: fixed;
        z-index: 9;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        padding: pxToRem(120) pxToRem(24) pxToRem(50);
        flex-direction: column;
        transform: translateY(-400px);
        transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        li {
          text-align: center;
          margin-right: 0 !important;
          a {
            transform: translateY(-20px);
            opacity: 0;
          }
          &:not(:last-child) {
            margin-bottom: pxToRem(20);

            a {
              font-size: pxToRem(22);
              display: block;
            }
          }
        }
      }
    }
  }
}

@mixin menu-icon() {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  transition: 0.4s;
  display: block;
}

#menu-icon {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  @include media-breakpoint-down(md) {
    display: block;
  }
  span {
    &:first-child {
      @include menu-icon();
    }
    &:last-child {
      @include menu-icon();
      margin-top: pxToRem(5);
    }
  }
}
