<template>
  <main class="eventpage container-small p-sm-t-120 p-t-120 p-md-t-50">
    <CheckoutModal ref="checkoutModal" :event="event" />
    <CartManagement ref="cartManagement" :event="event" :pricing-data="pricing" @increaseQty="increaseTicketQty" @decreaseQty="decreaseTicketQty" @clearCart="clearCart" />
    <img class="eventpage__lines" src="@/assets/svgs/illustrations/lines.svg" svg-inline />
    <div>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="row no-gutters">
            <div class="col-12">
              <time class="font-san-francisco font-size-18 text-uppercase">{{ event.start_time | date }}</time>
            </div>
            <div class="col-12 col-md-9">
              <h1 class="m-t-23 m-b-14 font-size-36">{{ event.name }}</h1>
            </div>
            <div class="col-12">
              <p class="font-size-18 line-height-28 text-dark2">
                {{ event.description }}
              </p>
            </div>
            <div class="col-12 col-md-9">
              <h6 v-if="event.is_sold_out" class="text-red eventpage__price">Sold Out</h6>
              <h6 v-else-if="event.is_free || event.pricing.length === 0" class="text-green eventpage__price">Free</h6>
              <h6 v-else-if="event.pricing.length == 1" class="eventpage__price m-t-5">{{ minimumPrice | formatAmount }}</h6>
              <h6 v-else-if="event.pricing.length > 1" class="eventpage__price m-t-5">{{ minimumPrice | formatAmount }} – {{ maximumPrice | formatAmount }}</h6>
            </div>
            <div class="col-12 col-md-9">
              <button class="button--block button--large m-t-20" :class="event.is_sold_out ? 'disabled' : ''" :disabled="event.is_sold_out" @click="buyTicket">{{ buttonText }}</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 m-t-30 m-md-t-0">
          <img :src="event.image ? event.image : require(`@/assets/imgs/eventimage.jpg`)" :alt="event.name" />
        </div>

        <div class="col-12"><hr /></div>

        <div class="col-md-6 col-12">
          <p class="font-san-francisco font-size-18 text-uppercase">Venue</p>
          <h3 class="font-size-24 line-height-32 font-weight-600 m-t-19">{{ event.venue }}</h3>
          <a href="#" class="text-yellow d-flex d-inline-flex align-items-center m-t-21 has-icon">
            <img class="m-r-11" src="@/assets/svgs/icons/map.svg" svg-inline />
            View map for directions
          </a>
        </div>

        <div class="col-md-6 col-12 m-t-30 m-md-t-0">
          <p class="font-san-francisco font-size-18 text-uppercase">DATE AND TIME</p>
          <h3 class="font-size-24 line-height-32 font-weight-600 m-t-19">{{ event.start_time | datetime }}</h3>
          <div v-if="event.social_links != '{}'">
            <p class="font-san-francisco font-size-16 text-uppercase m-t-10 m-b-16">SOCIAL LINKS</p>
            <a class="d-inline-flex m-b-10" href="http://www.nathanielcole.com">http://www.nathanielcole.com</a>
            <br />
            <a class="d-inline-flex m-b-10" href="https://twitter.com/nathanielcole">https://twitter.com/nathanielcole</a>
            <br />
            <a href="https://instagram.com/nathanielcole/">https://instagram.com/nathanielcole/</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  async asyncData({app, params, store}) {
    const events = store.state.events.data.events
    const event = events.find(event => event.id === parseInt(params.id))

    if (event) {
      return {event, pricing: event.pricing}
    }
    try {
      const eventData = app.$axios.get(`events/${params.id}`)
      const pricing = app.$axios.get(`ticket-types/events/${params.id}`)
      const [data, pricingData] = await Promise.all([eventData, pricing])
      const event = data.data.data
      event.pricing = pricingData.data.data
      return {event, pricing: event.pricing}
    } catch (error) {}
  },
  computed: {
    minimumPrice() {
      return this.event.pricing[0].price
    },
    maximumPrice() {
      return this.event.pricing[this.event.pricing.length - 1].price
    },
    buttonText() {
      if (this.event.is_free || this.event.pricing.length === 0) {
        return 'REGISTER'
      } else if (this.event.is_sold_out) {
        return 'SOLD OUT'
      } else {
        return 'BUY TICKETS'
      }
    }
  },
  mounted() {
    this.pricing.map(price => {
      price.qty = 0
      return price
    })
  },
  methods: {
    buyTicket() {
      if (this.event.is_free || this.event.pricing.length === 0) {
        return this.$refs.checkoutModal.show()
      }

      if (this.event.pricing.length > 0) {
        return this.$refs.cartManagement.show()
      }
    },
    increaseTicketQty(val) {
      const pricing = JSON.parse(JSON.stringify(this.pricing))

      pricing.forEach((price, index) => {
        if (parseInt(price.id) === parseInt(val)) {
          if (pricing[index].qty >= pricing[index].qty_available) return
          pricing[index].qty = pricing[index].qty + 1
        }
      })
      this.pricing = pricing
    },
    decreaseTicketQty(val) {
      if (parseInt(val) <= 0) {
        return
      }
      const pricing = JSON.parse(JSON.stringify(this.pricing))

      pricing.forEach((price, index) => {
        if (parseInt(price.id) === parseInt(val)) {
          pricing[index].qty = pricing[index].qty - 1
        }
      })
      this.pricing = pricing
    },
    clearCart() {
      const pricing = JSON.parse(JSON.stringify(this.pricing))

      pricing.forEach((price, index) => {
        pricing[index].qty = 0
      })
      this.pricing = pricing
    }
  }
}
</script>

<style></style>
