.eventpage {
  & > div {
    position: relative;
  }
  &__lines {
    position: fixed;
    right: -40px;
    bottom: -570px;
    outline: 0;
    @include media-breakpoint-up(md) {
      right: 0;
      bottom: -200px;
    }
  }
  img {
    width: 100%;
    height: 300px;
    border-radius: pxToRem(6);
    object-fit: cover;
    @include media-breakpoint-up(md) {
      height: 430px;
    }
  }
  &__price {
    margin-top: pxToRem(34);
    font-size: pxToRem(24);
    letter-spacing: pxToRem(0.5);
    font-weight: normal;
  }
  hr {
    border-style: solid;
    border-color: #ccb7b1;
    border-width: 1px;
    margin: 50px 0;
  }
}
