<template>
  <div>
    <div :style="`min-height: ${minHeight}px`">
      <Navbar />
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  computed: {
    minHeight() {
      if (process.client) {
        return screen.height - 190
      }
      return '100vh'
    }
  }
}
</script>
