<template>
  <main class="home p-t-120 p-md-t-100">
    <h1 class="container">The best events happening now.</h1>
    <section class="m-t-40 container-large">
      <div class="row no-gutters-xs">
        <div v-for="event in eventsData.events" :key="event.id" class="col-md-4 col-12">
          <EventCard :event="event" />
        </div>
        <div v-if="eventsData.pageInfo.currentPage != eventsData.pageInfo.totalPages" class="col-12 d-flex justify-content-center m-t-20">
          <button class="button--large" @click="fetchMore">{{ !loading ? 'Fetch More' : 'Fetching...' }}</button>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import gsap from 'gsap'

export default {
  data() {
    return {
      showCards: false,
      loading: false
    }
  },
  computed: {
    eventsData() {
      return this.$store.state.events.data ? this.$store.state.events.data : {events: [], pageInfo: null}
    }
  },
  mounted() {
    gsap.set('.eventcard', {opacity: 0, scale: 0.8, y: 70})
    gsap.to('.eventcard', {
      // delay: 0.1,
      duration: 0.4,
      opacity: 1,
      scale: 1,
      y: 0,
      ease: 'power1',
      stagger: {
        from: 'edges',
        each: 0.1
      }
    })
  },
  methods: {
    async fetchMore() {
      try {
        this.loading = true
        const {data} = await this.$axios.get(`events?page=${this.eventsData.pageInfo.currentPage + 1}&limit=12`)

        const events = await Promise.all(
          data.data.events.map(async event => {
            const {data} = await this.$axios.get(`ticket-types/events/${event.id}`)
            event.pricing = data.data.sort(this.comparePricing)
            return event
          })
        )

        this.loading = false

        this.$store.commit('events/ADD_EVENTS', {pageInfo: data.data.pageInfo, events})
        await this.sleep(600)
        gsap.set('.eventcard', {opacity: 1})
      } catch (error) {
        this.loading = false
      }
    }
  }
}
</script>
