<template>
  <footer class="opacity-6">
    <p class="font-size-14 font-san-francisco m-b-20 m-md-b-0">Copyright 2020. Flutterwave inc</p>
    <nav>
      <a href="#" class="font-size-14 font-san-francisco m-r-48">Terms & Conditions</a>
      <a href="#" class="font-size-14 font-san-francisco">Privacy Policy</a>
    </nav>
  </footer>
</template>
