<template>
  <header id="navbar" class="container">
    <nuxt-link to="/" class="logo" title="Go to Homepage">
      <img src="@/assets/svgs/logos/logo.svg" svg-inline @click="closeNavbar" />
    </nuxt-link>
    <nav id="navbar__nav">
      <ul>
        <li @click="closeNavbar"><nuxt-link to="#">I didn’t get my tickets</nuxt-link></li>
        <li @click="closeNavbar">
          <nuxt-link to="#" class="button">CREATE YOUR OWN EVENT</nuxt-link>
        </li>
      </ul>
    </nav>
    <div id="menu-icon" @click="toggleNavbar">
      <span />
      <span />
    </div>
  </header>
</template>

<script>
export default {
  mounted() {
    window.onscroll = function () {
      const currentScrollPos = window.pageYOffset
      if (currentScrollPos > 70) {
        document.getElementById('navbar').classList.add('white')
      } else {
        document.getElementById('navbar').classList.remove('white')
      }
    }
  },
  methods: {
    toggleNavbar() {
      const navbar = document.getElementById('navbar__nav')
      navbar.classList.toggle('open')
    },
    closeNavbar() {
      const navbar = document.getElementById('navbar__nav')
      if (navbar.classList.contains('open')) {
        navbar.classList.remove('open')
      }
    }
  }
}
</script>
