.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}

@include media-breakpoint-up(md) {
  .d-md-none {
    display: none;
  }
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
