.text-dark {
  color: $dark !important;
}

.text-dark2 {
  color: $dark2 !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-green {
  color: #219653 !important
}

.text-grey {
  color: #828282 !important
}

.text-red {
  color: $red !important
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-san-francisco {
  font-family: 'SF-Pro-Display', sans-serif;
  font-weight: 500;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

$weights: (300, 400, 500, 600, 700);

@each $weight in $weights {
  .font-weight-#{$weight} {
    font-weight: #{$weight} !important;
  }
}

@for $i from 10 through 65 {
  .font-size-#{$i} {
    font-size: #{$i/16}rem;
  }
  .line-height-#{$i} {
    line-height: #{$i/16}rem;
  }
  .font-size-md-#{$i} {
    @include media-breakpoint-up(md) {
      font-size: #{$i/16}rem;
    }
  }
  .line-height-md-#{$i} {
    @include media-breakpoint-up(md) {
      line-height: #{$i/16}rem;
    }
  }
  .font-size-sm-#{$i} {
    @include media-breakpoint-up(sm) {
      font-size: #{$i/16}rem;
    }
  }
  .line-height-sm-#{$i} {
    @include media-breakpoint-up(sm) {
      line-height: #{$i/16}rem;
    }
  }
}
